div {
    background-color: #f2f2f2;
    padding: 20px;
}
table {
    background-color: #f2f2f2;
    padding: 20px;
}
input {
    /*min-width: 430px;*/
    
    border: 2px solid red;
    border-radius: 4px;
}